*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Container */

.general-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 5%;
    overflow: hidden;
    position: relative;
    background-color: gray;
    background-image: url("../assets/img/ground-pattern.jpg");
}

/* Start Screen */
.start-screen {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 300;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Game Board */
.buttons-container {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5%;
    z-index: 100;
    transition: opacity 3s ease;
}

.button {
    aspect-ratio: 1;
    background-size: cover;
    border-radius: 9%;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.button:hover {
    scale: .97;
}

.button.button--active {
    box-shadow: 0px 0px .5em .15em rgba(0, 128, 0, .7);
}

.button.button--stage-0 {
    background-image: url(../assets/img/btn-stg-0.png);
}
.button.button--stage-1 {
    background-image: url(../assets/img/btn-stg-1.png);
}
.button.button--stage-2 {
    background-image: url(../assets/img/btn-stg-2.png);
}
.button.button--stage-3 {
    background-image: url(../assets/img/btn-stg-3.png);
}

.button.button--stage-0:hover {
    background-image: url(../assets/img/btn-stg-0-hover.png);
}
.button.button--stage-1:hover {
    background-image: url(../assets/img/btn-stg-1-hover.png);
}
.button.button--stage-2:hover {
    background-image: url(../assets/img/btn-stg-2-hover.png);
}
.button.button--stage-3:hover {
    background-image: url(../assets/img/btn-stg-3-hover.png);
}

/* Sound Button */

.sound-config-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .45);
    border-radius: .65rem .65rem 0 0;
}

.sound-config-container:hover {
    background-color: rgba(0, 0, 0, .65);
}

.sound-config {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: .5em 2em;
}

.sound-config-container, .sound-config img {
    transition: .35s ease;
}

.sound-config:hover img{
    scale: .95;
}

.sound-config img {
    width: 1.75rem;
}

/* Victory Screen */
.victory-screen {
    display: none;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 1;
    background-color: #1f201b;
    position: absolute;
    z-index: 200;
    opacity: 1;
    overflow: hidden;
    transition: opacity 3s ease-in;
}

.victory-screen.is-active {
    display: block;
}

.wall-frame {
    width: 100%;
    height: 100%;
    z-index: 400;
    position: absolute;
}

@keyframes left-door-animation {
    from{right: 49.9%;}
    to {right: 70%;}
}

@keyframes right-door-animation {
    from{left: 49.9%;}
    to {left: 70.5%;}
}

.left-door, .right-door {
    position: absolute;
    top: 16.5%;
    z-index: 300;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.left-door {
    height: 77.5%;
    right: 49.9%;
    animation-name: left-door-animation;
}

.right-door {
    height: 77.5%;
    left: 49.9%;
    animation-name: right-door-animation;
}

/* Utilities */
.flex-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.is-hidden {
    opacity: 0;
}